In [56]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

from statsmodels.tsa.arima_model import ARIMA

In [57]:
df = pd.read_csv('/Users/TerryONeill/west_nile/west_nile/assets/joined_pca.csv')

In [58]:
df.drop('Unnamed: 0', axis = 1, inplace = True)
print df.dtypes
print
print df.shape
print
print df.AddressAccuracy.value_counts()
df.head()

Date                object
Species              int64
Trap                 int64
Latitude           float64
Longitude          float64
AddressAccuracy      int64
NumMosquitos         int64
WnvPresent           int64
day                  int64
month                int64
year                 int64
Tmax               float64
Tmin               float64
Tavg               float64
Depart             float64
DewPoint           float64
PrecipTotal        float64
Sunrise            float64
Sunset             float64
month_weather      float64
day_weather        float64
pca1               float64
pca2               float64
pca3               float64
pca4               float64
dtype: object

(10506, 25)

8    4628
9    3980
5    1807
3      91
Name: AddressAccuracy, dtype: int64

,Date,Species,Trap,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,day,month,...,DewPoint,PrecipTotal,Sunrise,Sunset,month_weather,day_weather,pca1,pca2,pca3,pca4
0,2007-05-29,2,1,41.954690,-87.800991,9,1,0,179,5,...,58.5,0.0,421.0,1917.0,5.0,179.0,-0.663872,3.033573,-1.434144,1.092123
1,2007-05-29,3,1,41.954690,-87.800991,9,1,0,179,5,...,58.5,0.0,421.0,1917.0,5.0,179.0,-0.663872,3.033573,-1.434144,1.092123
2,2007-05-29,3,6,41.994991,-87.769279,9,1,0,179,5,...,58.5,0.0,421.0,1917.0,5.0,179.0,-0.663872,3.033573,-1.434144,1.092123
3,2007-05-29,2,13,41.974089,-87.824812,8,1,0,179,5,...,58.5,0.0,421.0,1917.0,5.0,179.0,-0.663872,3.033573,-1.434144,1.092123
4,2007-05-29,3,13,41.974089,-87.824812,8,4,0,179,5,...,58.5,0.0,421.0,1917.0,5.0,179.0,-0.663872,3.033573,-1.434144,1.092123

In [59]:
df.Date = pd.to_datetime(df.Date)
print df.Date.dtype
print
df.head()

datetime64[ns]

,Date,Species,Trap,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,day,month,...,DewPoint,PrecipTotal,Sunrise,Sunset,month_weather,day_weather,pca1,pca2,pca3,pca4
0,2007-05-29,2,1,41.954690,-87.800991,9,1,0,179,5,...,58.5,0.0,421.0,1917.0,5.0,179.0,-0.663872,3.033573,-1.434144,1.092123
1,2007-05-29,3,1,41.954690,-87.800991,9,1,0,179,5,...,58.5,0.0,421.0,1917.0,5.0,179.0,-0.663872,3.033573,-1.434144,1.092123
2,2007-05-29,3,6,41.994991,-87.769279,9,1,0,179,5,...,58.5,0.0,421.0,1917.0,5.0,179.0,-0.663872,3.033573,-1.434144,1.092123
3,2007-05-29,2,13,41.974089,-87.824812,8,1,0,179,5,...,58.5,0.0,421.0,1917.0,5.0,179.0,-0.663872,3.033573,-1.434144,1.092123
4,2007-05-29,3,13,41.974089,-87.824812,8,4,0,179,5,...,58.5,0.0,421.0,1917.0,5.0,179.0,-0.663872,3.033573,-1.434144,1.092123

In [60]:
species_dummies = pd.get_dummies(df.Species, prefix = 'species', drop_first = True)
species_dummies.head()

   species_1  species_2  species_3  species_4  species_5  species_6
0        0.0        1.0        0.0        0.0        0.0        0.0
1        0.0        0.0        1.0        0.0        0.0        0.0
2        0.0        0.0        1.0        0.0        0.0        0.0
3        0.0        1.0        0.0        0.0        0.0        0.0
4        0.0        0.0        1.0        0.0        0.0        0.0

In [61]:
trap_dummies = pd.get_dummies(df.Trap, prefix = 'trap', drop_first = True)
trap_dummies.head()

,trap_1,trap_2,trap_3,trap_4,trap_5,trap_6,trap_7,trap_8,trap_9,trap_10,...,trap_126,trap_127,trap_128,trap_129,trap_130,trap_131,trap_132,trap_133,trap_134,trap_135
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [62]:
add_acc_dummies = pd.get_dummies(df.AddressAccuracy, prefix = 'add_acc', drop_first = True)
add_acc_dummies.head()

   add_acc_5  add_acc_8  add_acc_9
0        0.0        0.0        1.0
1        0.0        0.0        1.0
2        0.0        0.0        1.0
3        0.0        1.0        0.0
4        0.0        1.0        0.0

In [63]:
dummy_df = df.join(species_dummies)
dummy_df = dummy_df.join(trap_dummies)
dummy_df = dummy_df.join(add_acc_dummies)

dummy_df.drop('Species', axis = 1, inplace = True)
dummy_df.drop('Trap', axis = 1, inplace = True)
dummy_df.drop('AddressAccuracy', axis = 1, inplace = True)
print dummy_df.shape
dummy_df.head()

(10506, 166)

,Date,Latitude,Longitude,NumMosquitos,WnvPresent,day,month,year,Tmax,Tmin,...,trap_129,trap_130,trap_131,trap_132,trap_133,trap_134,trap_135,add_acc_5,add_acc_8,add_acc_9
0,2007-05-29,41.954690,-87.800991,1,0,179,5,2007,88.0,62.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,2007-05-29,41.954690,-87.800991,1,0,179,5,2007,88.0,62.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,2007-05-29,41.994991,-87.769279,1,0,179,5,2007,88.0,62.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,2007-05-29,41.974089,-87.824812,1,0,179,5,2007,88.0,62.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,2007-05-29,41.974089,-87.824812,4,0,179,5,2007,88.0,62.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [64]:
dummy_df.set_index('Date', inplace = True)
print dummy_df.shape
dummy_df.head()

(10506, 165)

,Latitude,Longitude,NumMosquitos,WnvPresent,day,month,year,Tmax,Tmin,Tavg,...,trap_129,trap_130,trap_131,trap_132,trap_133,trap_134,trap_135,add_acc_5,add_acc_8,add_acc_9
Date,,,,,,,,,,,,,,,,,,,,,
2007-05-29,41.954690,-87.800991,1,0,179,5,2007,88.0,62.5,75.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2007-05-29,41.954690,-87.800991,1,0,179,5,2007,88.0,62.5,75.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2007-05-29,41.994991,-87.769279,1,0,179,5,2007,88.0,62.5,75.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2007-05-29,41.974089,-87.824812,1,0,179,5,2007,88.0,62.5,75.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2007-05-29,41.974089,-87.824812,4,0,179,5,2007,88.0,62.5,75.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [65]:
from sklearn.preprocessing import StandardScaler

scale = StandardScaler()

scaled_df = pd.DataFrame(scale.fit_transform(dummy_df), columns = dummy_df.columns)
scaled_df.set_index(dummy_df.index, inplace = True)
print scaled_df.shape
scaled_df.head()

(10506, 165)

,Latitude,Longitude,NumMosquitos,WnvPresent,day,month,year,Tmax,Tmin,Tavg,...,trap_129,trap_130,trap_131,trap_132,trap_133,trap_134,trap_135,add_acc_5,add_acc_8,add_acc_9
Date,,,,,,,,,,,,,,,,,,,,,
2007-05-29,1.007225,-1.047388,-0.734735,-0.235264,-2.164701,-2.522009,-1.094163,0.735332,-0.153231,0.331973,...,-0.069152,-0.077048,-0.056133,-0.016901,-0.025821,-0.277265,-0.116214,-0.455769,-0.887323,1.280507
2007-05-29,1.007225,-1.047388,-0.734735,-0.235264,-2.164701,-2.522009,-1.094163,0.735332,-0.153231,0.331973,...,-0.069152,-0.077048,-0.056133,-0.016901,-0.025821,-0.277265,-0.116214,-0.455769,-0.887323,1.280507
2007-05-29,1.364706,-0.718799,-0.734735,-0.235264,-2.164701,-2.522009,-1.094163,0.735332,-0.153231,0.331973,...,-0.069152,-0.077048,-0.056133,-0.016901,-0.025821,-0.277265,-0.116214,-0.455769,-0.887323,1.280507
2007-05-29,1.179300,-1.294214,-0.734735,-0.235264,-2.164701,-2.522009,-1.094163,0.735332,-0.153231,0.331973,...,-0.069152,-0.077048,-0.056133,-0.016901,-0.025821,-0.277265,-0.116214,-0.455769,1.126985,-0.780941
2007-05-29,1.179300,-1.294214,-0.548781,-0.235264,-2.164701,-2.522009,-1.094163,0.735332,-0.153231,0.331973,...,-0.069152,-0.077048,-0.056133,-0.016901,-0.025821,-0.277265,-0.116214,-0.455769,1.126985,-0.780941

In [70]:
arima_cols = scaled_df.columns[18:]
arima_cols1 = ['Latitude', 'Longitude', 'NumMosquitos']

for i in arima_cols:
    arima_cols1.append(i)

arima_cols1
# print len(scaled_df.columns)
# scaled_df.columns.values

['Latitude',
 'Longitude',
 'NumMosquitos',
 'pca2',
 'pca3',
 'pca4',
 'species_1',
 'species_2',
 'species_3',
 'species_4',
 'species_5',
 'species_6',
 'trap_1',
 'trap_2',
 'trap_3',
 'trap_4',
 'trap_5',
 'trap_6',
 'trap_7',
 'trap_8',
 'trap_9',
 'trap_10',
 'trap_11',
 'trap_12',
 'trap_13',
 'trap_14',
 'trap_15',
 'trap_16',
 'trap_17',
 'trap_18',
 'trap_19',
 'trap_20',
 'trap_21',
 'trap_22',
 'trap_23',
 'trap_24',
 'trap_25',
 'trap_26',
 'trap_27',
 'trap_28',
 'trap_29',
 'trap_30',
 'trap_31',
 'trap_32',
 'trap_33',
 'trap_34',
 'trap_35',
 'trap_36',
 'trap_37',
 'trap_38',
 'trap_39',
 'trap_40',
 'trap_41',
 'trap_42',
 'trap_43',
 'trap_44',
 'trap_45',
 'trap_46',
 'trap_47',
 'trap_48',
 'trap_49',
 'trap_50',
 'trap_51',
 'trap_52',
 'trap_53',
 'trap_54',
 'trap_55',
 'trap_56',
 'trap_57',
 'trap_58',
 'trap_59',
 'trap_60',
 'trap_61',
 'trap_62',
 'trap_63',
 'trap_64',
 'trap_65',
 'trap_66',
 'trap_67',
 'trap_68',
 'trap_69',
 'trap_70',
 'trap_71',
 'trap_72',
 'trap_73',
 'trap_74',
 'trap_75',
 'trap_76',
 'trap_77',
 'trap_78',
 'trap_79',
 'trap_80',
 'trap_81',
 'trap_82',
 'trap_83',
 'trap_84',
 'trap_85',
 'trap_86',
 'trap_87',
 'trap_88',
 'trap_89',
 'trap_90',
 'trap_91',
 'trap_92',
 'trap_93',
 'trap_94',
 'trap_95',
 'trap_96',
 'trap_97',
 'trap_98',
 'trap_99',
 'trap_100',
 'trap_101',
 'trap_102',
 'trap_103',
 'trap_104',
 'trap_105',
 'trap_106',
 'trap_107',
 'trap_108',
 'trap_109',
 'trap_110',
 'trap_111',
 'trap_112',
 'trap_113',
 'trap_114',
 'trap_115',
 'trap_116',
 'trap_117',
 'trap_118',
 'trap_119',
 'trap_120',
 'trap_121',
 'trap_122',
 'trap_123',
 'trap_124',
 'trap_125',
 'trap_126',
 'trap_127',
 'trap_128',
 'trap_129',
 'trap_130',
 'trap_131',
 'trap_132',
 'trap_133',
 'trap_134',
 'trap_135',
 'add_acc_5',
 'add_acc_8',
 'add_acc_9']

In [75]:
model = ARIMA(scaled_df.WnvPresent, order=(7, 1, 2),
             exog = scaled_df[arima_cols1])

model.fit()

print model.score()
print
model.summary()

/Users/TerryONeill/anaconda/lib/python2.7/site-packages/statsmodels/base/model.py:466: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

TypeError: score() takes exactly 2 arguments (1 given)

In [80]:
model.fit().score()

/Users/TerryONeill/anaconda/lib/python2.7/site-packages/statsmodels/base/model.py:466: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

AttributeError: 'ARIMAResults' object has no attribute 'score'

In [ ]:
model.fit().summary()